* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    justify-content: center;
}

.container {
    width: 1180px;
}

.card_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post_filter {
    display: flex;
    justify-content: center;
}